<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About | Mayur Pote</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <div><strong>Mayur Pote</strong></div>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
            <a href="/resume">Resume</a>
        </div>
    </nav>

    <div class="container">
        <h1>About Me</h1>
        <p>Hello! I’m <strong>Mayur Pote</strong>, I’m a final-year B.E. Computer Engineering student with a strong passion for Machine Learning, Python, and Data Science. I enjoy solving real-world problems using data-driven solutions and building intelligent systems that make a real impact. Alongside ML, I'm also skilled in web development and love creating user-friendly applications. I'm always eager to learn, explore new technologies, and work on innovative projects that blend logic with creativity..</p>

        <p>I enjoy solving real-world problems, especially in real world  and predictive analysis using data. I'm skilled in Python, Machine Learning, and Full Stack Web Development.</p>

        <p>Currently working on a <strong>“Resillient architecture for self healing mechanism”</strong> that automatic repair software and avoid crashes of software.</p>
    </div>
</body>
</html>
