<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projects | Mayur Pote</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <div><strong>Mayur Pote</strong></div>
        <div>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
            <a href="/resume">Resume</a>
        </div>
    </nav>

    <div class="container">
        <h1>My Projects</h1>

        <div>
            <h2>Resillient architecture for self healing mechanism </h2>
            <p>I'm currently working on a project titled "Self-Healing AI for Application Server", where I'm developing an intelligent system capable of automatically detecting faults, anomalies, or failures in web applications and triggering corrective actions without human intervention. The goal is to enhance application uptime, reduce manual recovery efforts, and make server environments more resilient using Machine Learning, automation, and monitoring tools.</p>
        </div>

        <div>
            <h2>📊 Student Result Prediction</h2>
            <p>Machine Learning model to forecast student exam performance based on study hours, attendance, and internal scores.</p>
        </div>

        <div>
            <h2>📦 Webseries Recommended System</h2>
            <p>Developed a machine learning-based recommendation system to suggest web series based on 
user preferences</p>
        </div>
        <div><h2>📦 Portfolio Web</h2>
            <p>I have developed my portfolio with help of flask</p>
        </div>
    </div>
</body>
</html>
